<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Chaploy</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="contact-page">
    <%- include('partials/navbar') %>

    <div class="contact-main-container">
        <!-- ซ้าย: รูปผู้หญิงที่ยืน -->
        <div class="contact-left">
            <img src="/images/contact-fah.png" alt="Contact Image Left">
        </div>

        <!-- ขวา: รูปผู้หญิงเสื้อขาว -->
        <div class="contact-right">
            <img src="/images/contact-chom.jpg" alt="Contact Image Right">
        </div>
    </div>

</body>
</html>
