<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaploy</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">

</head>
<body class="home-page">
    <%- include('partials/navbar') %>
<div class="homepage-container"></div>
    <div class="hero">
        <h1>PREMIUM</h1>
        <img src="/images/Chaploy-remove.png" alt="mockup">
        <h2>TEA BOX</h2>
        <h3>& COFFEE</h3>
        <h4>for</h4>
        <h5>SPECIAL ONES</h5>
    </div>
</div>
</body>
</html>